In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from dotenv import find_dotenv, load_dotenv
from langchain.chat_models import ChatOpenAI
from langchain_experimental.agents import create_pandas_dataframe_agent

from langchain.chains.conversation.memory import ConversationBufferMemory
from langchain.chains import ConversationChain

load_dotenv(find_dotenv())

True

In [39]:
df = pd.read_csv("bank-additional-full.csv", delimiter=';', low_memory=False)

In [5]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [6]:
llm = ChatOpenAI(model_name="gpt-4", temperature =0)
agent = create_pandas_dataframe_agent(llm, df, allow_dangerous_code=True)

memory = ConversationBufferMemory()
conversation = ConversationChain(llm=llm, memory=memory, verbose=True)

/var/folders/b9/yq39ggkn7d742qp6sr3dt5s80000gn/T/ipykernel_49623/2113005161.py:1: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  llm = ChatOpenAI(model_name="gpt-4", temperature =0)
/var/folders/b9/yq39ggkn7d742qp6sr3dt5s80000gn/T/ipykernel_49623/2113005161.py:4: LangChainDeprecationWarning: Please see the migration guide at: https://python.langchain.com/docs/versions/migrating_memory/
  memory = ConversationBufferMemory()
/var/folders/b9/yq39ggkn7d742qp6sr3dt5s80000gn/T/ipykernel_49623/2113005161.py:5: LangChainDeprecationWarning: The class `ConversationChain` was deprecated in LangChain 0.2.7 and will be removed in 1.0. Use :meth:`~RunnableWithMessageHistory: https://python.langchain.com/v0.2/api_reference/core/runnables/langchain_core.runnables.history.RunnableWithMessageHistory.html` instead.
  conversation = ConversationChain(llm=llm, memory=memory, verbose=True)

In [7]:
agent.run("what is the meaning of the column names?")

/var/folders/b9/yq39ggkn7d742qp6sr3dt5s80000gn/T/ipykernel_49623/379254127.py:1: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  agent.run("what is the meaning of the column names?")

'The column names represent various attributes of individuals, possibly in relation to a marketing campaign.'

In [8]:
agent.run('hi my name is karl')

'Hi Karl, how can I assist you with the dataframe?'

In [9]:
agent.run('what is the 25th percentile for age?')

'The 25th percentile for age is 32.'

In [10]:
agent.run('how many people were contracted during the campaign')

'41188 people were contacted during the campaign.'

In [11]:
agent.run('how many people responded positively?')

'4640 people responded positively.'

In [12]:
agent.run('what is my name?')

'The dataframe does not provide information about a name.'

In [13]:
agent.run('yes, the dataframe does not contain my name but i told you my name before, do you remmeber?')

"I'm sorry, but as an AI, I don't have the ability to remember or store personal data from past interactions. Could you please provide your name again?"

In [15]:
agent.run("show the first 2 rows of the dataset in a table")

'The first 2 rows of the dataset are:\n\n|    |   age | job       | marital   | education   | default   | housing   | loan   | contact   | month   | day_of_week   |   duration |   campaign |   pdays |   previous | poutcome    |   emp.var.rate |   cons.price.idx |   cons.conf.idx |   euribor3m |   nr.employed | y   |\n|---:|------:|:----------|:----------|:------------|:----------|:----------|:-------|:----------|:--------|:--------------|-----------:|-----------:|--------:|-----------:|:------------|---------------:|-----------------:|----------------:|------------:|--------------:|:----|\n|  0 |    56 | housemaid | married   | basic.4y    | no        | no        | no     | telephone | may     | mon           |        261 |          1 |     999 |          0 | nonexistent |            1.1 |           93.994 |           -36.4 |       4.857 |          5191 | no  |\n|  1 |    57 | services  | married   | high.school | unknown   | no        | no     | telephone | may     | mon           |        149 |          1 |     999 |          0 | nonexistent |            1.1 |           93.994 |           -36.4 |       4.857 |          5191 | no  |'

In [16]:
agent.run("delete the first row of the dataset")

'The first row of the dataframe has been deleted.'

In [17]:
agent.run("show the first row of the dataset")

'The first row of the dataset is:\n\nage                        57\njob                  services\nmarital               married\neducation         high.school\ndefault               unknown\nhousing                    no\nloan                       no\ncontact             telephone\nmonth                     may\nday_of_week               mon\nduration                  149\ncampaign                    1\npdays                     999\nprevious                    0\npoutcome          nonexistent\nemp.var.rate              1.1\ncons.price.idx         93.994\ncons.conf.idx           -36.4\neuribor3m               4.857\nnr.employed            5191.0\ny                          no\nName: 1, dtype: object'

In [41]:
df.iloc[[0]]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [18]:
df.head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no